:root{
    /* Colors */
    --primary:  #579529; 
    --secondary: #ff9800;
    --white: #FFFFFF;
    --light: #9e9e9e;
    --dark: #1F160A;

    /* Fonts */

}

html {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}